.loding_wenzi_show{
	transition: all 1s; 
	transform: scale(1) translateY(0);
}
.kaishitansuo_arrow{
	animation: arrow 1s infinite;
}
@keyframes arrow{
	from{top: 0.3rem;}
	to{top: 0.4rem;}
}


.car_go_arrow{
	animation: car_go_arrow 1s infinite;
}
@keyframes car_go_arrow{
	0%{bottom: 5%;}
	50%{bottom: 4%;}
	100%{bottom: 5%;}
}

.tts_arrow{
	animation: tts_arrow 1s infinite;
}
@keyframes tts_arrow{
	0%{bottom: 3%;}
	50%{bottom: 2%;}
	100%{bottom: 3%;}
}
/*发现不同的动画*/

.part2_1_b1{
	transition: all 1s; 
	transform: scale(1.3);
}
.part2_2_b1{
	transition: all 1s; 
	transform: scale(1.3);
}
.levin_part2_3_b1{
	transition: all 1s; 
	transform: scale(1.3);
}
.jiaqu1_b1{
	transition: all 1s; 
	transform: scale(1.3);
}
.anquan1_b1{
	transition: all 1s; 
	transform: scale(1.3);
}

/*p6的动画*/
.levin_part6_top1{
	transition: all 1s;
	transform: scale(1) translateY(0rem);
}


/*驾趣的动画*/
.jiaqu1_img1,.anquan1_img1{
	transition: all 0.5s;
	transform: scale(1);
}

/*中控*/
.levin_part7_b1{
	transition: all 1s;
	transform: scale(1) translateY(0);
}

/*升级*/
.shengji_move1{
	display: block;
	animation: shengjimove 2s linear infinite;
}
@keyframes shengjimove{
	0%{top: 0%;
	opacity: 1;
	}
	50%{
		top: -2%;
		opacity: 0.5;
	}
	75%{
		top: -4%;
		opacity: 0.2;
	}
	100%{
		top: 0%;
	}
}

.shoufu_box1,.youxian_box1{
	transition: all 1s; 
	transform: scale(1) translateY(0);
}

