.loding3_main_top{
	transform: scale(0);
}
.loding3_main_top_ani{
	transition: all 1s;
	transform: scale(1);
}
.ksts_btn_cha{
	transform: scale(1);
	transition: all 1s;
}
.loding2_2_ani{
	transition: all 2s;
	transform: scale(0.5);
}
.car_go_arrow{
	animation: car_go_arrow 1s infinite;
}
@keyframes car_go_arrow{
	0%{bottom: 5%;}
	50%{bottom: 4%;}
	100%{bottom: 5%;}
}
/*发现不同的动画*/

.part2_1_b1{
	transition: all 1s; 
	transform: scale(1.3);
}
.part2_2_b1{
	transition: all 1s; 
	transform: scale(1.3);
}
.levin_part2_3_b1{
	transition: all 1s; 
	transform: scale(1.3);
}